header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header);
    z-index: 100;
}

.header-top-container{
    width: 100%;
    padding: 0 20px;
    height: 40px;
    background: var(--kamas-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top{
    margin: auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    font-size: 14px;
}

.header-top p,
.header-top a{
    color: var(--white);
    font-size: 15px;
}

.header-top a{
    text-decoration: underline;
}

.header-top::selection{
    background: var(--white);
    color: var(--kamas-2);
}

.header-bottom-container{
    width: 100%;
    padding: 10px 20px;
}

.header-bottom{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-logo{
    display: flex;
}

.header-bottom-logo img{
    width: 100%;
    height: 50px;
}