header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header);
    z-index: 100;
}

.header-top-container{
    width: 100%;
    padding: 0 20px;
    height: 40px;
    background: var(--kamas-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top{
    margin: auto;
    width: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: var(--white);
    font-size: 14px;
}

.header-top p,
.header-top a{
    color: var(--white);
    font-size: 15px;
}

.header-top a{
    text-decoration: underline;
}

.header-top::selection{
    background: var(--white);
    color: var(--kamas-2);
}

.header-center-container{
    width: 100%;
    padding: 10px 20px;
}

.header-center{
    margin: auto;
    width: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header-center-logo{
    display: flex;
}

.header-center-logo img{
    width: 100%;
    height: 50px;
}

.principal-menu-container ul{
    display: flex;
    gap: 20px;
}

.principal-menu-container li a h2{
    color: var(--kamas-1);
}

.principal-menu-icon{
    display: none;
}

.header-bottom-container{
    padding: 0 20px;
}

.header-bottom{
    margin: auto;
    width: 100%;
    max-width: 2000px;
}

/**/

.header-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

/**/

@media screen and (max-width: 600px){
    .header-top p{
        font-size: 12px;
    }

    .header-center{
        justify-content: unset;
        gap: 10px;
    }

    .principal-menu-container{
        display: none;
    }

    .header-center-logo img{
        height: 44px;
    }

    .header-center > .button-link-2{
        margin-left: auto;
    }

    /**/

    .principal-menu-icon{
        display: flex;
    }

    .principal-menu-icon span{
        font-size: 32px;
    }

    .close-symbol{
        display: none;
    }
    
    /**/
}