.dashboard-main-content{
    position: fixed;
    top: 90px;
    left: 240px;
    padding: 20px;
    /* width: calc(100% - 260px); */
    /* max-width: 1000px; */
    background: var(--body);
    border: 1px solid var(--border-1);
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.dashboard-main-content-title{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-main-content-close-all-button span{
    color: var(--text);
    font-size: 28px;
}

.dashboard-main-content-left ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard-main-content-left ul li{
    width: 100%;
    display: flex;
}

.dashboard-main-content-left ul li button{
    width: 100%;
    padding: 10px;
    padding-right: 5 !important;
    /* padding: 5px 0 5px 10px; */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.dashboard-main-content-left ul li button:hover{
    background: rgba(0 0 0 / 0.05);
}

.dashboard-main-content-left ul li:nth-last-child(1) button{
    background: rgba(0 88 137 / 0.15);
    flex-direction: column;
    gap: 0;
}

.dashboard-main-content-left ul li:nth-last-child(1) button:hover{
    background: rgba(0 88 137 / 0.25);
}

.dashboard-main-content-left ul li:nth-last-child(1) button span,
.dashboard-main-content-left ul li:nth-last-child(1) button p{
    color: var(--color-1);
}
