@font-face{
    font-family: 'Outfit';
    src: url('../public/assets/font/static/Outfit-Medium.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

:root{
    --body: #FFFFFF;

    --text: #666666;
}

body{
    background: var(--body);
}