*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
}

:root{
    --header: #FFFFFF;
    --body: #FFFFFF;
    --footer: #000000;

    --white: #FFFFFF;

    --border-1: rgba(0 0 0 / 0.25);

    --color-1: #005889;

    --t-200ms: all 200ms linear;
}

/**/

@font-face{
    font-family: 'Outfit';
    src: url('../public/assets/Fonts/Outfit/static/Outfit-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'Ubuntu';
    src: url('../public/assets/Fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-display: swap;
}

/**/

body{
    background: var(--body);
}

main{
    width: 100%;
    min-height: 100vh;
}

/**/

button{
    width: auto;
    height: auto;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    transition: var(--t-200ms);
}

.button-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-link-1{
    height: 48px;
    background: var(--color-1);
    padding: 0 20px;
    border-radius: 6px;
}

.button-link-1 .button-link-text,
.button-link-1 span{
    color: var(--white);
}

/**/

fieldset{
    border: 0;
    outline: 0;
}

input{
    /* border: 0; */
    outline: 0;
}

/**/

.d-flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

/**/

.margin-left{
    margin-left: auto;
}

/**/

.gap-10{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

/**/

.text{
    color: var(--text);
}

.title{
    color: var(--color-1);
    font-size: 20px;
    /* font-weight: bold; */
}

/**/
